<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <div class="container">
        <h1>Контакты</h1>
        <p>По всем интересующим Вас вопросам напишите на электронную почту jinja@example.com.</p>

        <nav>
            <a href="/">Главная</a> 
            <a href="/contacts">Контакты</a>
        </nav>
    </div>
</body>
</html>
